/* colors */
html {
  font-size: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.button {
  background-color: #fcb303;
  color: #fff;
  padding: 1rem 3rem;
  border-radius: 8px;
  font-size: 12px;
  text-transform: uppercase;
  border: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.button:hover {
  cursor: pointer;
  background-color: #eda803;
}

button:focus, a:focus, input:focus, textarea:focus {
  outline: none;
}

.slick-active {
  outline: none;
}

.prev, .next {
  top: 12%;
  position: absolute;
  z-index: 10;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  width: 2rem;
  height: 2rem;
  border: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  outline: none;
}

.prev:hover, .next:hover {
  cursor: pointer;
}

.prev {
  left: 3%;
  background: url(../pics/left-arrow.svg) center no-repeat;
  background-size: 80%;
}

.next {
  right: 3%;
  background: url(../pics/right-arrow.svg) center no-repeat;
  background-size: 80%;
}

.main {
  padding: 3rem 0 5rem 0;
  background: #fff url(../pics/main-bg.jpg) center center no-repeat;
  background-size: cover;
}

.main__title {
  margin-top: -1rem;
}

.main__content {
  margin-top: 10rem;
}

.main__content h1 {
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 650;
  margin-bottom: 4rem;
  line-height: 1.45;
}

.main__content span {
  display: inline-block;
  padding: 2.5rem 4.2rem;
  background-color: #46b814;
  font-size: 18px;
  color: #fff;
  text-align: center;
  line-height: 1.3;
}

.main__content span strong {
  font-size: 24px;
}

.main__subtitle {
  margin-bottom: 5rem;
  font-size: 24px;
  line-height: 1.35;
}

.main__pay {
  text-transform: uppercase;
  font-size: 2.2rem;
  display: block;
  margin-top: 3.5rem;
}

.main__form {
  background-color: #fff;
  padding: 4rem 4rem;
  text-align: center;
}

.main__form label {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-color: #fff;
  padding: 0.5rem;
  font-size: 1.3rem;
}

.main__form-header {
  font-size: 18px;
  margin-bottom: 4rem;
}

.main__form-header strong {
  font-size: 19px;
}

.main__form-input {
  display: block;
  margin: 2rem 0;
  width: 100%;
  height: 3.8rem;
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding: 8px 0 8px 8px;
  font-size: 14px;
}

.main__form-btn {
  display: block;
  height: 5rem;
  width: 100%;
  font-size: 14px;
}

.main__form-message {
  display: block;
  margin-top: 1.5rem;
  font-size: 10px;
}

.header {
  height: 7rem;
}

.wrap {
  display: table;
  width: 100%;
  height: 7rem;
}

.wrap__block {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}

.phone-link {
  display: inline-block;
  color: #1a1820;
  font-weight: 800;
  font-size: 19px;
  height: 7rem;
  line-height: 7rem;
}

.phone-link:hover {
  text-decoration: none;
  color: #1a1820;
}

.section-header {
  text-align: center;
  margin: 6rem 0;
  font-size: 3.2rem;
  font-weight: 650;
}

.section-header_light {
  color: #fff;
}

.section-header h2 {
  font-weight: 650;
  font-size: 3.2rem;
}

.section-header p {
  font-size: 14px;
}

.features {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 5rem;
}

.features-block {
  text-align: center;
}

.features-block h3 {
  margin: 3rem 0 2rem;
}

.features-text {
  width: 76%;
  margin: 0 auto;
  font-size: 15px;
  line-height: 20px;
  padding: 0 10px;
}

.features-img {
  height: 6rem;
  margin-bottom: 4%;
}

.features-img img {
  text-align: center;
  margin: 0 auto;
}

#features-link {
  color: #46b814;
  text-decoration: underline;
}

#features-link:hover {
  text-decoration: none;
}

.popup {
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 11;
}

.popup-content {
  position: fixed;
  top: 12%;
  left: 50%;
  width: 35rem;
  background-color: #fff;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  padding: 2rem 4rem 3rem;
}

.popup-content p {
  font-size: 15px;
}

.popup-close {
  position: absolute;
  top: -2rem;
  right: -2rem;
  width: 2rem;
  text-align: center;
  border: none;
  background-color: transparent;
  font-size: 3rem;
  color: #f5f5f5;
}

.popup-header {
  font-size: 2rem;
  font-weight: 600;
  margin: 2rem 0 1rem;
}

.popup-form {
  margin-top: 3.5rem;
}

.popup-form label {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-color: #fff;
  padding: 0.5rem;
  font-size: 1.3rem;
}

.popup-form-textarea {
  display: block;
  margin: 2rem 0;
  width: 100%;
  border: 1px solid #dddddd;
  padding-left: 8px;
  padding-top: 8px;
  font-size: 14px;
}

.popup-form button {
  display: block;
  width: 100%;
  font-size: 14px;
  padding: 2rem 4rem;
}

.prices {
  background: #46b814 url(../pics/prices/prices-bg.jpg);
  padding: 10rem 1rem;
}

.prices .container {
  position: relative;
}

.prices-button {
  position: absolute;
  top: 5px;
  right: 0;
}

.prices-header-btn {
  margin-top: 6rem;
}

.prices-block {
  min-height: 50rem;
  background-color: #fff;
  -webkit-box-shadow: 7px 12px 21px 0px rgba(0, 0, 0, 0.17);
          box-shadow: 7px 12px 21px 0px rgba(0, 0, 0, 0.17);
  text-align: center;
  padding: 2rem 2.2rem;
}

.prices-block h4 {
  font-size: 18px;
  font-weight: 650;
  margin: 2rem 0;
}

.prices-list {
  list-style: none;
  min-height: 14rem;
  padding: 0;
  font-size: 15px;
  line-height: 1.6;
  font-weight: 500;
}

.prices-list li:before {
  content: '';
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background: url(../pics/check.svg) no-repeat center;
  background-size: 70%;
  vertical-align: middle;
  margin-right: 1rem;
}

.prices img {
  margin-bottom: 2rem;
  max-width: 28rem;
}

.prices-tag {
  font-size: 19px;
  font-weight: 650;
  display: block;
  margin-bottom: 2rem;
}

.feedback {
  background: url(../pics/feedback/feedback-bg.png) no-repeat center;
  background-size: cover;
  padding-bottom: 6rem;
  position: relative;
  padding-top: 3rem;
}

.feedback .section-header {
  margin-bottom: 8rem;
}

.feedback-slider {
  -webkit-box-shadow: 6px 10px 18px 0px rgba(0, 0, 0, 0.11);
          box-shadow: 6px 10px 18px 0px rgba(0, 0, 0, 0.11);
  position: relative;
}

.feedback-slider-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 4rem;
  height: 5rem;
  background-color: #46b814;
  border: none;
}

.feedback-slider-arrow-prev {
  left: -4rem;
}

.feedback-slider-arrow-next {
  right: -4rem;
}

.feedback-block {
  width: 100%;
  background-color: #fff;
  padding: 4rem 5rem;
  outline: none;
}

.feedback-work-info {
  font-size: 16px;
}

.feedback-customer-name {
  font-size: 17px;
}

.feedback-customer-info {
  margin-top: 25px;
}

.feedback-customer-info img {
  margin-top: -1.7rem;
  height: 52px;
  display: inline-block;
}

.feedback-customer-info-text {
  display: inline-block;
  font-size: 14px;
  margin-left: 7px;
}

.feedback-customer-info-text p {
  margin-bottom: 0;
}

.feedback-customer-message {
  position: relative;
  border: 2px solid #46b814;
  padding: 8px 1rem 1rem;
  margin-top: 2rem;
  font-size: 16px;
}

.feedback-customer-message:before {
  content: '';
  position: absolute;
  display: block;
  top: -1.97rem;
  left: 4rem;
  width: 2rem;
  height: 2rem;
  background-color: #fff;
  border: 2px solid #46b814;
  border-top-right-radius: 100px;
  border-bottom: none;
}

.feedback-form {
  position: relative;
  margin: 3.5rem auto 0;
  padding: 5rem 8rem;
  text-align: center;
  max-width: 700px;
  z-index: 2;
  background-color: #fff;
}

.feedback-form h4 {
  font-weight: 600;
  font-size: 19px;
}

.feedback-form button {
  font-size: 14px;
  font-weight: 600;
  padding: 1.5rem 5rem;
  margin-top: 15px;
}

.feedback-form-label {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #fff;
  padding: 0.5rem;
  font-size: 1.3rem;
}

.feedback-form input {
  display: inline-block;
  width: 100%;
  height: 48px;
  margin: 1.5rem 0;
}

.feedback-hand {
  position: absolute;
  bottom: 0;
  height: 200px;
}

.scheme {
  background: url(../pics/scheme-bg.png) bottom -10rem right -15rem no-repeat;
  background-size: 600px;
}

.scheme .section-header {
  margin-bottom: 10rem;
}

.scheme .section-header p {
  margin-top: 5px;
  font-weight: 400;
}

.scheme-block {
  padding: 0 50px;
  margin-bottom: 9rem;
}

.scheme-block h2 {
  margin: 15px 0 10px;
  font-weight: 700;
}

.scheme-block span {
  font-size: 13px;
}

.all-inclusive {
  background-color: #f5f5f5;
  padding: 6rem 0 0;
}

.all-inclusive .section-header {
  margin-top: 0;
}

.all-inclusive .section-header p {
  margin-top: 10px;
  font-weight: 400;
}

.all-inclusive .media {
  min-height: 90px;
}

.all-inclusive .media-left .circle {
  display: inline-block;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: #46b814;
  font-size: 20px;
  font-weight: 700;
}

.all-inclusive .media-left .circle-border {
  display: inline-block;
  line-height: 4rem;
  padding: 3px;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  border: 2px solid #46b814;
  color: #ffffff;
  text-align: center;
}

.all-inclusive .media-body {
  margin-left: 1rem;
  margin-top: 7px;
}

.all-inclusive .media-body h2 {
  font-size: 15px;
  font-weight: 700;
}

.all-inclusive .media-body span {
  font-size: 11px;
}

.problems {
  position: relative;
}

.problems-list {
  min-height: 38rem;
  background-color: #ffffff;
  padding: 2rem 0 0 3rem;
}

.problems-list p {
  font-size: 20px;
  font-weight: 600;
}

.problems-list__bad {
  border: 4px solid #f5f5f5;
  padding-right: 20px;
}

.problems-list__bad p {
  color: #c2c2c2;
}

.problems-list__bad ul {
  list-style: none;
  padding-left: 0;
}

.problems-list__bad ul li {
  position: relative;
  padding-left: 35px;
  margin-bottom: 3rem;
  font-size: 13px;
  line-height: 2.1;
}

.problems-list__bad ul li:before {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  width: 3rem;
  height: 3rem;
  background: url(../pics/problems/problem.svg) no-repeat center;
  background-size: 70%;
}

.problems-list__good {
  border: 4px solid #46b814;
}

.problems-list__good ul {
  list-style: none;
  padding-left: 0;
}

.problems-list__good ul li {
  position: relative;
  padding-left: 35px;
  margin-bottom: 3rem;
  font-size: 13px;
}

.problems-list__good ul li:before {
  content: '';
  position: absolute;
  left: 0;
  top: 10%;
  display: inline-block;
  width: 3rem;
  height: 3rem;
  background: url(../pics/problems/norms.svg) no-repeat center;
  background-size: 70%;
}

.problems-woman {
  position: absolute;
  left: 50%;
  top: 4rem;
  -webkit-transform: translateX(-60%);
          transform: translateX(-60%);
  z-index: 2;
}

#problems-list__li-1 {
  line-height: 1.5;
}

#problems-list__li-2 {
  line-height: 2.1;
}

#problems-list__li-3 {
  line-height: 2.1;
}

.materials {
  background: url(../pics/materials/materials-bg.jpg) no-repeat center;
  margin-top: 9rem;
  padding-top: 4rem;
}

.materials .section-header {
  margin-bottom: 14rem;
}

.materials .section-header p {
  font-weight: 400;
  margin-top: 1rem;
}

.materials-block {
  text-align: center;
  min-height: 32rem;
}

.materials-block img {
  height: 177px;
}

.materials-block h2 {
  font-weight: 700;
}

.materials-block p {
  font-size: 14px;
  margin: 3rem 0;
  min-height: 45px;
}

.materials-block a {
  font-size: 14px;
  color: #46b814;
  border-bottom: 1px dotted;
}

.materials-block a:hover {
  text-decoration: none;
  border: none;
}

.materials-afterwords {
  font-size: 14px;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 6rem;
}

.materials-afterwords a {
  color: #46b814;
  border-bottom: 1px dotted;
}

.materials-afterwords a:hover {
  text-decoration: none;
  border: none;
}

@media (max-width: 1825px) {
  .features-text {
    width: 87%;
  }
}

@media (max-width: 1595px) {
  .features-text {
    width: 95%;
  }
}

@media (max-width: 1277px) {
  .prices-block {
    min-height: 57rem;
    padding: 2rem;
  }
  .prices-block h4 {
    padding: 0 4.5rem;
  }
  #prices-h4-1 {
    padding: 0 2.5rem;
  }
  #prices-h4-3 {
    padding: 0 7rem;
  }
}

@media (max-width: 1230px) {
  .prices-column {
    padding: 0 5px;
  }
  .prices-block {
    position: relative;
  }
  .prices-block-btn {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media (max-width: 1150px) {
  .prices-block {
    padding: 2rem 1.5rem;
  }
  .prices-block img {
    max-width: 27rem;
  }
}

@media (max-width: 1085px) {
  #prices-h4-1 {
    padding: 0 0.5rem;
  }
}

@media (max-width: 1024px) {
  .popup-form button {
    font-size: 15px;
    font-weight: 600;
  }
  .prices-button {
    position: static;
    text-align: center;
  }
  .prices-button button {
    font-size: 14px;
    font-weight: 600;
    padding: 2rem 4rem;
  }
}

@media (max-width: 991px) {
  .main__title h1 {
    text-align: center;
  }
  .main__subtitle {
    text-align: center;
  }
  .main__pay {
    text-align: center;
  }
  .work {
    margin-bottom: 2rem;
  }
  .work-cost {
    text-align: center;
  }
  .wrap2 {
    display: table;
    width: 100%;
    height: 100%;
  }
  .wrap2-block {
    display: table-cell;
    vertical-align: bottom;
  }
  .wrap2-header-btn {
    margin-top: 0;
    margin-bottom: 2rem;
  }
  .prices-block {
    margin-bottom: 2rem;
  }
  .section-header_light {
    margin-top: 2rem;
  }
  .feedback-hand {
    position: static;
    display: none;
  }
  .scheme {
    background-size: 0%;
  }
  .problems-list {
    margin-bottom: 6rem;
    padding-right: 5px;
  }
  .problems-list__bad {
    padding-right: 0;
  }
  .problems-woman {
    display: none;
  }
  .materials {
    margin-top: 3rem;
    background-repeat: repeat-y;
  }
  .materials-block {
    margin-bottom: 4rem;
  }
  .materials-afterwords {
    max-width: 510px;
    margin: 2rem auto 6rem;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .feedback-block .fotorama {
    width: 510px;
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .phone-col {
    text-align: right;
  }
  .wrap__block {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  .scheme-block {
    text-align: center;
  }
}

@media (max-width: 594px) {
  .section-header {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .prev, .next {
    height: 3rem;
    width: 3rem;
  }
  .wrap__block {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  .logo {
    text-align: center;
  }
  .phone-col {
    text-align: center;
  }
  .main__content {
    margin-top: 18rem;
  }
  .main__content h1 {
    font-size: 25px;
    margin-bottom: 2rem;
  }
  .work {
    margin-bottom: 1.5rem;
  }
  .section-header {
    font-size: 3.2rem;
  }
  .features-text {
    width: 80%;
  }
  .popup-close {
    width: 3rem;
    top: -2.5rem;
    right: -3rem;
    font-size: 4rem;
  }
  .prices {
    padding: 10rem 2rem;
  }
  .prices-tag {
    font-size: 22px;
  }
  .feedback-block .fotorama__nav-wrap {
    display: none;
  }
  .feedback-slider-arrow-prev {
    left: -200px;
  }
  .feedback-slider-arrow-next {
    right: 800px;
  }
}

@media (max-width: 434px) {
  .features {
    width: 100%;
  }
  .features-text {
    width: 80%;
  }
  .popup-close {
    top: -1.5rem;
    right: 1rem;
    color: #1a1820;
  }
  .prices {
    padding: 10rem 0.5rem;
  }
  .feedback-block {
    padding: 30px;
  }
  .feedback-form {
    padding: 5rem 4rem;
  }
  .feedback-form .button {
    padding: 1.5rem 3rem;
  }
  .materials-afterwords {
    max-width: 300px;
  }
}

@media (max-width: 365px) {
  .popup-form button {
    padding: 1.5rem 3rem;
  }
  .popup-content {
    top: 5.5%;
    width: 30rem;
  }
  .prices-button button {
    padding: 2rem 6.5%;
  }
  .feedback-block {
    padding: 20px 10px;
  }
}

@media (max-width: 342px) {
  .main__content h1 {
    font-size: 22px;
    margin-bottom: 17px;
  }
  .main__subtitle {
    font-size: 22px;
    margin-bottom: 3.5rem;
  }
}
/*# sourceMappingURL=style.css.map */