@font-face 
  font-family: 'ProximaNova_bold'
  src: url('../fonts/ProximaNova-Bold.eot')
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.woff2') format('woff2'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg')
  font-weight: bold
  font-style: normal

@font-face 
  font-family: 'ProximaNova_Reg'
  src: url('../fonts/ProximaNova-Regular.eot')
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg')
  font-weight: normal
  font-style: normal

/* colors */
$btn-color: #fcb303
$icons-color: #46b814 
$text: #1a1820 
$danger: #ff0000
$bg-light: #f5f5f5
$light: #fff
$border-input: #dddddd
html
    font-size: 10px
    box-sizing: border-box
body 
    font-family: ProximaNova_Reg
.button
    background-color: $btn-color
    font-family: 'ProximaNova_Bold'
    color: $light
    padding: 1rem 3rem
    border-radius: 8px
    font-size: 12px
    text-transform: uppercase
    border: none
    transition: all 0.3s
    &:hover
        cursor: pointer
        background-color: darken($btn-color, 3%) //lighten
button, a, input, textarea
    &:focus
        outline: none
.slick-active
    outline: none   
.prev, .next
    top: 12%
    position: absolute
    z-index: 10
    transform: translateY(50%)
    width: 2rem
    height: 2rem
    border: none
    transition: all 0.3s
    outline: none
    &:hover 
        cursor: pointer 
.prev
    left: 3%
    background: url(../pics/left-arrow.svg) center no-repeat 
    background-size: 80%
.next
    right: 3%
    background: url(../pics/right-arrow.svg) center no-repeat 
    background-size: 80%
.main 
    padding: 3rem 0 5rem 0
    background: #fff url(../pics/main-bg.jpg) center center no-repeat
    background-size: cover
    &__title
        margin-top: -1rem
    &__content
        margin-top: 10rem
        h1
            text-transform: uppercase
            font-size: 4rem
            font-family: ProximaNova_Bold
            margin-bottom: 4rem
            line-height: 1.45
        span
            display: inline-block
            padding: 2.5rem 4.2rem
            background-color: $icons-color
            font-size: 18px
            color: $light
            text-align: center
            line-height: 1.3
            strong
                font-size: 24px
    &__subtitle
        margin-bottom: 5rem
        font-size: 24px
        line-height: 1.35
    &__pay
        text-transform: uppercase
        font-size: 2.2rem
        display: block
        margin-top: 3.5rem
    &__form
        background-color: $light
        padding: 4rem 4rem
        text-align: center
        label
            position: absolute
            left: 50%
            transform: translateX(-50%) translateY(-50%)
            background-color: $light
            padding: 0.5rem
            font-size: 1.3rem
    &__form-header
        font-size: 18px
        margin-bottom: 4rem
        strong
            font-size: 19px
    &__form-input
        display: block
        margin: 2rem 0
        width: 100%
        height: 3.8rem
        border: 1px solid $border-input
        border-radius: 5px
        padding: 8px 0 8px 8px
        font-size: 14px
    &__form-btn
        display: block
        height: 5rem
        width: 100%
        font-size: 14px
    &__form-message
        display: block
        margin-top: 1.5rem
        font-size: 10px
.header
    height: 7rem
.wrap
    display: table
    width: 100%
    height: 7rem
    &__block
        display: table-cell
        vertical-align: middle
        text-align: right 
.phone-link
    display: inline-block
    color: $text
    font-family: ProximaNova_Bold
    font-size: 19px
    height: 7rem
    line-height: 7rem
    &:hover
        text-decoration: none
        color: $text
        //box-shadow: 0px 0px 10px rgba(0, 0, 0, 1)

//         slider        // 
.section-header
    text-align: center
    margin: 6rem 0
    font-size: 3.2rem
    font-weight: 650
    font-family: 'ProximaNova_Bold'
    &_light
        color: $light
    h2
        font-weight: 650
        font-size: 3.2rem 
    p 
        font-size: 14px
.features
    width: 80%
    max-width: 1200px
    margin: 0 auto
    margin-bottom: 5rem
    &-block
        text-align: center
        h3
            font-family: 'ProximaNova_Bold'
            margin: 3rem 0 2rem
    &-text
        width: 76%
        margin: 0 auto
        font-size: 15px
        line-height: 20px
        padding: 0 10px
    &-img 
        height: 6rem
        margin-bottom: 4%
        img
            text-align: center
            margin: 0 auto
#features-link
    color: $icons-color
    text-decoration: underline
    &:hover 
        text-decoration: none
.popup
    display: none
    position: fixed
    top: 0%
    left: 0%
    width: 100%
    height: 100%
    background-color: rgba(0, 0, 0, 0.5)
    z-index: 11
    &-dialog
    &-content
        position: fixed
        top: 12%
        left: 50%
        width: 35rem
        background-color: $light
        transform: translateX(-50%)
        text-align: center
        padding: 2rem 4rem 3rem
        p 
            font-size: 15px
    &-close
        position: absolute
        top: -2rem
        right: -2rem
        width: 2rem
        text-align: center
        border: none
        background-color: transparent
        font-size: 3rem
        color: $bg-light
    &-header 
        font-size: 2rem 
        font-weight: 600
        margin: 2rem 0 1rem
    &-form
        margin-top: 3.5rem
        label
            position: absolute
            left: 50%
            transform: translateX(-50%) translateY(-50%)
            background-color: $light
            padding: 0.5rem
            font-size: 1.3rem
        &-textarea
                display: block
                margin: 2rem 0
                width: 100%
                height: 12rem !important
                border: 1px solid $border-input
                padding-left: 8px 
                padding-top: 8px
                font-size: 14px
        button
            display: block
            width: 100%
            font-size: 14px
            padding: 2rem 4rem
.prices
    background: $icons-color url(../pics/prices/prices-bg.jpg)
    padding: 10rem 1rem
    .container
        position: relative
        //    width: 1200px
        //    margin: 0 auto
    &-button 
        position: absolute
        top: 5px 
        right: 0
    &-header-btn
        margin-top: 6rem
    &-block 
        min-height: 50rem
        background-color: $light
        box-shadow: 7px 12px 21px 0px rgba(0, 0, 0, 0.17)
        text-align: center
        padding: 2rem 2.2rem
        h4  
            font-size: 18px
            font-family: 'ProximaNova_Bold'
            margin: 2rem 0
    &-list
            list-style: none 
            min-height: 14rem
            padding: 0
            font-size: 15px
            line-height: 1.6
            font-weight: 500
            li  
                &:before
                    content: ''
                    display: inline-block
                    width: 2rem
                    height: 2rem
                    background: url(../pics/check.svg) no-repeat center
                    background-size: 70%
                    vertical-align: middle
                    margin-right: 1rem
    img 
        margin-bottom: 2rem
        max-width: 28rem
    &-tag
        font-size: 19px
        font-family: 'ProximaNova_Bold'
        display: block
        margin-bottom: 2rem
.feedback
    background: url(../pics/feedback/feedback-bg.png) no-repeat center 
    background-size: cover 
    padding-bottom: 6rem
    position: relative
    padding-top: 3rem
    .section-header 
        margin-bottom: 8rem 
    &-slider 
        box-shadow: 6px 10px 18px 0px rgba(0, 0, 0, 0.11)
        position: relative
        &-arrow
            position: absolute
            top: 50%
            transform: translateY(-50%)
            width: 4rem
            height: 5rem
            background-color: $icons-color
            border: none
            &-prev
                left: -4rem
            &-next
                right: -4rem
    &-block
        width: 100%
        //max-height: 430px
        background-color: $light
        padding: 4rem 5rem
        outline: none
    &-work-info
        font-size: 16px
    &-customer
        &-name
            font-size: 17px
        &-info
            margin-top: 25px
            img 
                margin-top: -1.7rem
                height: 52px
                display: inline-block
            &-text 
                display: inline-block
                font-size: 14px
                margin-left: 7px
                p 
                    margin-bottom: 0
        &-message
            position: relative
            border: 2px solid $icons-color
            padding: 8px 1rem 1rem
            margin-top: 2rem
            font-size: 16px
            &:before
                content: ''
                position: absolute
                display: block
                top: -1.97rem
                left: 4rem
                width: 2rem
                height: 2rem
                background-color: $light
                border: 2px solid $icons-color
                border-top-right-radius: 100px 
                border-bottom: none
    &-form
        position: relative
        margin: 3.5rem auto 0
        padding: 5rem 8rem
        text-align: center
        max-width: 700px
        z-index: 2
        background-color: $light
        h4 
            font-weight: 600
            font-size: 19px
        button 
            font-size: 14px
            font-weight: 600
            padding: 1.5rem 5rem 
            margin-top: 15px
        &-label
            position: absolute
            left: 50%
            transform: translateX(-50%)
            background-color: $light
            padding: 0.5rem
            font-size: 1.3rem
        input
            display: inline-block
            width: 100%
            height: 48px
            margin: 1.5rem 0
    &-hand
        position: absolute
        bottom: 0
        height: 200px
.scheme
    background: url(../pics/scheme-bg.png) bottom -10rem right -15rem no-repeat
    background-size: 600px
    .section-header
        margin-bottom: 10rem
        p   
            margin-top: 5px
            font-weight: 400
    &-block
        padding: 0 50px
        margin-bottom: 9rem
        h2 
            margin: 15px 0 10px
            font-size: 22px
            font-family: 'ProximaNova_Bold'
        span 
            font-size: 16px
.all-inclusive
    background-color: #f5f5f5
    padding: 6rem 0 0 
    .section-header
        margin-top: 0
        h2 
            font-size: 42px
            color: darken($icons-color, 10%)
        p 
            margin-top: 10px
    .media
        min-height: 90px
        &-left 
            .circle 
                display: inline-block
                border-radius: 50%
                width: 100%
                height: 100%
                background-color: $icons-color
                font-size: 20px
                font-weight: 700
                &-border
                    display: inline-block
                    line-height: 4rem
                    padding: 3px
                    height: 5rem
                    width: 5rem
                    border-radius: 50%
                    border: 2px solid $icons-color
                    color: #ffffff
                    text-align: center
        &-body
            margin-left: 1rem
            margin-top: 7px
            h2 
                font-size: 15px
                font-weight: 700
            span 
                font-size: 11px
.problems
    position: relative
    &-list
        min-height: 38rem
        background-color: #ffffff
        padding: 2rem 0 0 3rem
        p
            font-size: 20px
            font-weight: 600
        &__bad
            border: 4px solid #f5f5f5
            padding-right: 20px
            p 
                color: darken(#f5f5f5, 20%)
            ul 
                list-style: none
                padding-left: 0
                li 
                    position: relative
                    padding-left: 35px
                    margin-bottom: 3rem
                    font-size: 13px
                    line-height: 2.1
                    &:before
                        content: ''
                        position: absolute
                        left: 0
                        display: inline-block
                        width: 3rem
                        height: 3rem
                        background: url(../pics/problems/problem.svg) no-repeat center
                        background-size: 70%
        &__good
            border: 4px solid $icons-color
            ul 
                list-style: none
                padding-left: 0
                li 
                    position: relative
                    padding-left: 35px 
                    margin-bottom: 3rem
                    font-size: 13px                   
                    &:before
                        content: ''
                        position: absolute
                        left: 0
                        top: 10%
                        display: inline-block
                        width: 3rem
                        height: 3rem
                        background: url(../pics/problems/norms.svg) no-repeat center
                        background-size: 70%
    &-woman
        position: absolute
        left: 50%
        top: 4rem
        transform: translateX(-60%)
        z-index: 2
#problems-list__li-1
    line-height: 2.1
#problems-list__li-2
    line-height: 2.1
#problems-list__li-3
    line-height: 2.1
.materials
    background: url(../pics/materials/materials-bg.jpg) no-repeat center
    margin-top: 9rem
    padding-top: 4rem
    .section-header
        margin-bottom: 14rem
        p 
            font-weight: 400
            margin-top: 1rem
    &-block
        text-align: center
        min-height: 32rem
        img 
            height: 177px
            margin: 0 auto
        h2 
            font-weight: 700
        p 
            font-size: 14px
            margin: 3rem 0
            min-height: 45px
        a 
            font-size: 14px
            color: $icons-color
            border-bottom: 1px dotted
            &:hover 
                text-decoration: none
                border: none
    &-afterwords
        font-size: 14px
        text-align: center
        margin-top: 4rem
        margin-bottom: 6rem
        a 
            color: $icons-color
            border-bottom: 1px dotted
            &:hover 
                text-decoration: none
                border: none
.watch
    background: url(../pics/bg-watch.jpg) no-repeat center
    padding: 9rem 0
    .section-header
        text-align: left
        h2 
            font-size: 42px
            text-transform: uppercase
        p
            font-family: ProximaNova_Reg
            font-weight: normal
            font-size: 24px
            line-height: 1.2
            margin-top: 3rem
    &-form
        position: relative
        background-color: $light
        margin-top: 4rem
        padding: 4rem 
        text-align: center
        &-checkbox 
            margin-right: 8px
            vertical-align: middle
        .main__form-input
            height: 5rem
        label 
            position: absolute
            left: 50%
            transform: translateX(-50%) translateY(-50%)
            background-color: $light
            font-size: 13px
            padding: 5px
        span 
            font-size: 12px
            padding: 0 5px
            line-height: 1.2
            a 
                color: $icons-color
                text-decoration: underline
                &:hover 
                    text-decoration: none
        button 
            width: 100%
            margin: 2rem 0 5px
            padding: 2rem 3rem
            display: block
            font-size: 14px
        &-message
            font-size: 12px
.bonus
    background-color: darken($icons-color, 18%)
    padding: 6rem 0
    .section-header
        color: $light
        h2 
            font-size: 36px
        p 
            font-family: ProximaNova_Reg
            font-weight: normal
            font-size: 18px
    &-block
        text-align: center
        p 
            color: $light 
            font-family: ProximaNova_Bold
            font-size: 20px
            margin: 2rem 0
        button 
            font-size: 16px
            padding: 1.5rem 5rem
.benefits
    padding-bottom: 6rem
    .section-header
        font-size: 42px
    &-block
        margin-top: 2rem
        h2 
            font-weight: 600
            margin-bottom: 1rem
        p 
            font-size: 16px
            margin: 0
            line-height: 1.2
    &-questions
        margin-top: 3rem
        text-align: center
        h2 
            font-size: 26px
            font-weight: 600
        p 
            font-size: 16px
        button
            margin-top: 2rem
            font-size: 14px
            padding: 2rem 5rem
.contacts
    background: url(../pics/bg-contacts.jpg) no-repeat right
    padding: 6rem 0 4rem
    &-address
        margin-top: -1rem
        font-size: 17px
        &-title
            font-size: 18px
    &-phone-link
        margin-top: 2rem
        font-size: 17px
        line-height: 1.2
        a 
            color: $text

            font-weight: 600
        &-title
            font-size: 18px
            line-height: 2
    &-email
        margin-top: 2rem
        font-size: 17px
        a 
            color: $text
            text-decoration: underline
            &:hover 
                text-decoration: none
        &-title
            font-size: 18px
    &-requisites
        margin-top: 2rem
        font-size: 17px
        p 
            margin: 0
            line-height: 1.2
        &-title
            font-size: 18px
    .section-header
        margin-top: 4rem
        text-align: left
    &-form
        position: relative
        background-color: $light
        margin: 4rem 0
        padding: 4rem 
        text-align: center
        &-checkbox 
            margin-right: 8px
            vertical-align: middle
        &-textarea
            width: 100%
            height: 12rem !important
            border: 1px solid $border-input
        .main__form-input
            height: 5rem
        label 
            position: absolute
            left: 50%
            transform: translateX(-50%) translateY(-50%)
            background-color: $light
            font-size: 13px
            padding: 5px
        span 
            font-size: 12px
            padding: 0 5px
            line-height: 1.2
            a 
                color: $icons-color
                text-decoration: underline
                &:hover 
                    text-decoration: none
        button 
            width: 100%
            margin: 2rem 0 5px
            padding: 2rem 3rem
            display: block
            font-size: 14px
        &-message
            font-size: 12px
.footer
    padding: 2rem 0
    &-middle 
        text-align: center
    &-phone-link
        display: block
        color: $text 
        font-size: 20px
        font-weight: 600  
        &:hover 
            color: $text 
            text-decoration: none
    &-email
        display: block
        color: $text 
        font-size: 16px
        text-decoration: underline
        &:hover 
            color: $text 
            text-decoration: none
    &-links
        margin: 1rem 3px
        &-block
            text-align: right
//=================================adaptive section================================
//=================================================================================
@media ( max-width: 1825px )
    .features
        &-text
            width: 87%
@media ( max-width: 1595px )
    .features
        &-text
            width: 95%
@media ( max-width: 1277px )
    .prices
        &-block
            min-height: 57rem
            padding: 2rem
            h4 
                padding: 0 4.5rem
    #prices-h4-1
        padding: 0 2.5rem
    #prices-h4-3
        padding: 0 7rem
@media ( max-width: 1230px)
    .prices
        &-column
            padding: 0 5px
        &-block
            position: relative
            &-btn 
                position: absolute
                bottom: 2rem
                left: 50%
                transform: translateX(-50%)
@media ( max-width: 1200px )
    #problems-list__li-1
        line-height: 1.5
    .bonus
        &-block
            img 
                width: 280px
@media ( max-width: 1150px )
    .prices
        &-block
            padding: 2rem 1.5rem
            img 
                max-width: 27rem    
@media ( max-width: 1085px )
    #prices-h4-1
        padding: 0 0.5rem
@media ( max-width: 1024px )
    .popup
        &-form
            button 
                font-size: 15px
                font-weight: 600
    .prices
        &-button
            position: static
            text-align: center
            button
                font-size: 14px
                font-weight: 600 
                padding: 2rem 4rem
@media ( max-width: 991px )
    .main
        &__title
            h1 
                text-align: center
        &__subtitle
            text-align: center
        &__pay
            text-align: center
    .work
        margin-bottom: 2rem
        &-cost
            text-align: center
    .wrap2
        display: table
        width: 100%
        height: 100%
        &-block
            display: table-cell
            vertical-align: bottom
        &-header-btn
            margin-top: 0
            margin-bottom: 2rem
    .prices
        &-block
            margin-bottom: 2rem
    .section-header_light
        margin-top: 2rem
    .feedback
        &-hand
            position: static
            display: none
    .scheme 
        background-size: 0%
    #problems-list__li-1
        line-height: 2.1
    .problems
        &-list 
            min-height: 32rem
            margin-bottom: 6rem
            padding-right: 5px
            &__bad 
                padding-right: 0
        &-woman 
            display: none
    .materials
        margin-top: 3rem
        background-repeat: repeat-y
        &-block
            margin-bottom: 4rem
        &-afterwords
            max-width: 510px
            margin: 2rem auto 6rem
    .watch 
        background: url(../pics/bg-promo-mobile.jpg) no-repeat center 
        background-size: cover
        .section-header
            text-align: center
    .bonus
        &-block
            margin-bottom: 3rem
    .contacts
        background: url(../pics/bg-contacts2.jpg)
@media ( max-width: 991px) and ( min-width: 768px)
    .feedback
        &-block
            .fotorama
                width: 510px
                margin: 0 auto
@media ( max-width: 767px )
    .phone-col
        text-align: right
    .wrap
        &__block
            display: table-cell
            vertical-align: middle
            text-align: center
    .scheme
        &-block 
            text-align: center
    .watch
        padding: 2rem 0
@media ( max-width: 594px )
    .section-header
        font-size: 3rem
@media ( max-width: 575px )
    .prev, .next
        height: 3rem
        width: 3rem
    .wrap
        &__block
            display: table-cell
            vertical-align: middle
            text-align: center
    .logo
        text-align: center
    .phone-col
        text-align: center
    .main
        &__content
            margin-top: 18rem
            h1 
                font-size: 25px
                margin-bottom: 2rem
    .work
        margin-bottom: 1.5rem
    .section
        &-header
            font-size: 3.2rem
    .features
        &-text 
            width: 80%
    .popup
        &-close
            width: 3rem 
            top: -2.5rem
            right: -3rem
            font-size: 4rem
    .prices
        padding: 10rem 2rem
        &-tag
            font-size: 22px
    .feedback
        padding-bottom: 1rem
        &-block
            .fotorama
                &__nav-wrap
                    display: none
        &-slider
            &-arrow
                &-prev 
                    left: -200px
                &-next
                    right: 800px
    .scheme
        &-block 
            margin-bottom: 3rem
        .section-header
            margin: 2rem 0
    .problems
        &-list
            &__good 
                margin-bottom: 1rem
    .contacts
        .section-header
            text-align: center
        &-address
            text-align: center 
        &-phone-link
            text-align: center
        &-email
            text-align: center
        &-requisites
            text-align: center
    .footer
        &-logo
            text-align: center
            margin-bottom: 2rem
        &-links
            &-block
                text-align: center
@media ( max-width: 434px)
    .features
        width: 100%
        &-text
            width: 80%
    .popup
        &-close
            top: -1.5rem
            right: 1rem 
            color: $text
    .prices
        padding: 10rem 0.5rem
    .feedback
        &-block
            padding: 30px
        &-form
            padding: 5rem 4rem
            .button
                padding: 1.5rem 3rem
    .materials
        &-afterwords
            max-width: 300px
    .watch
        padding: 1rem 0
        .section-header
            margin-top: 3rem
@media ( max-width: 400px )
    #problems-list__li-1
        line-height: 1.5
@media ( max-width: 365px )
    .popup
        &-form
            button
                padding: 1.5rem 3rem
        &-content
            top: 5.5%
            width: 30rem
    .prices
        &-button
            button
                padding: 2rem 6.5%
    .feedback
        &-block
            padding: 20px 10px
@media ( max-width: 342px )
    .main
        &__content
            h1 
                font-size: 22px
                margin-bottom: 17px
        &__subtitle
            font-size: 22px
            margin-bottom: 3.5rem